@font-face {
    font-family: "oswald";
    src: url(Oswald-Regular.ttf) format("truetype");
}
* {
    margin: 0;
}

#prenom {
    font-size: 40px;
}

body {
  background-color: #ffbd4a;
}

main {
    font-family: "oswald", Courier, monospace;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

aside {
    width: 30%;
    min-width: 200px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 245, 231, 0.7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#as1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#stage {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #ffbd4a;
    border-bottom: 15px solid #ee495d;
    padding: 1%;
}

section {
    align-self: flex-start;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

article {
    padding: 5vh;
    margin: 5vh;
    padding-top: 2%;
    background-color: rgba(255, 245, 231, 0.8);
    box-shadow: -5px 5px 5px 0px rgba(1, 1, 1, 0.25);
}

.art {
    border-top: 0.5em solid #ffbd4a;
    padding: 2%;
    margin: 3%;
}

.art p {
    padding: 2%;
}

h2, h3 {
    color: #ee495d;
}

.icone {
    width: 20px;
    padding-right: 5%;
    padding-left: 10%;
}

header {
    text-align: center;
    justify-self: flex-start;
    padding-top: 1vh;
}

footer {
    text-align: center;
    z-index: 10;
    background-color:#ee495d;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    width: 100%;
}

.tel {
    display: none;
}

#pro {
    display: flex;
}

.logo {
    width: 33%;
}

.logos {
   display: flex;
   justify-content: space-around;
   padding-top: 10%;
   padding-right: 15%;
}

#photo {
    height: 100px;
    border-radius: 50%;
}

#infos {
    text-align: left;
    margin-top: 5%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    h1 {
     font-size: xx-large;
    }

    header {
        font-size: 30px;
    }
    
    .icone {
        width: 7%;
    }

    #photo {
        height: auto;
        width: 33%;
    }

    .logos {
        padding-right: 5%;
    }

    .tel {
        display: block;
        position: sticky;
        bottom: 0;
    }

    aside {
        position: relative;
        width: 100%;
        padding-bottom: 5%;
        height: auto;
    }

    #stage {
        position: relative;
        font-size: xx-large;
    }
    main {
        flex-wrap: wrap;
        font-family: "oswald";
        text-align: center;
    }

    ul {
        text-align: left;
    }

    .ordi {
        display: none;
    }

    section {
        width: 100%;
        margin-left :auto;
        margin-right: auto;
    }

    article {
        margin-left: auto;
        margin-right: auto;
    }
    
    .art {
        margin-left: auto;
        margin-right: auto;
    }
}