@font-face {
    font-family: "oswald";
    src: url(Oswald-Regular.ttf) format("truetype");
}
* {
    margin: 0;
}

body {
  background-color: #ffbd4a;
}
main {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
aside {
    width: 30%;
    position: sticky;
    top: 0;
    background-color: rgba(255, 245, 231, 0.7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav {
    margin-top: 10%;
}
nav ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-shadow: 0.5px 0.5px 1px rgba(1, 1, 1, 0.5);
}
#stage {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #ffbd4a;
    border-bottom: 15px solid #ee495d;
    padding: 1%;
}
section {
    align-self: flex-start;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
article {
    padding: 5vh;
    margin: 5vh;
    padding-top: 2%;
    background-color: rgba(255, 245, 231, 0.8);
    box-shadow: -5px 5px 5px 0px rgba(1, 1, 1, 0.25);
}

.art {
    border-top: 0.5em solid #ffbd4a;
    padding: 2%;
    margin: 3%;
}
.art p {
    padding: 2%;
}
h2, h3 {
    color: #ee495d;
}
.icone {
    width: 20px;
    padding-right: 5%;
    padding-left: 10%;
}

header {
    text-align: center;
    justify-self: flex-start;
    padding-top: 1vh;
}
footer {
    text-align: center;
    z-index: 10;
    background-color:#ee495d;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    width: 100%;
}
#pro {
    display: flex;
}
.logo {
    width: 30%;
}
.logos {
   text-align: center;
}

#photo {
    height: 75px;
    border-radius: 50%;
}

#infos {
    text-align: left;
    margin-top: 5%;
}
